<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<script src="dragon.min.js" async></script>

<dom-module id="function-language">
    <script>
        class FunctionLanguage extends Polymer.Element {
            static get is() {
                return 'function-language';
            }
            /**
             * defulat language
             * @return {object} object represents an error or a location object
             */
            defulatLanguage() {
                return new Promise((resolve, reject) => {
                    const str = navigator.language || navigator.userLanguage;
                    const res = str.split('-');
                    const language = res[0];
                    resolve(language);
                });
            }
            /**
             *  translation available
             * @return {object} object represents an error or a location object
             * @argument {String} language represents an error or a location object
             */
            translationAvailable(language) {
                return new Promise((resolve, reject) => {
                    const xobj = new XMLHttpRequest();
                    xobj.overrideMimeType('application/json');
                    xobj.open('GET', '../src/text-translations.json', true);
                    xobj.onreadystatechange = () => {
                        if (xobj.readyState == 4 && xobj.status == '200') {
                            const json = JSON.parse(xobj.responseText);
                            const keys = Object.keys(json);
                            const arr = keys.indexOf(language);
                            if (arr != -1) {
                                resolve({
                                    language: language,
                                    found: true,
                                });
                            } else {
                                resolve({
                                    language: language,
                                    found: false,
                                });
                            }
                        }
                    };
                    xobj.send(null);
                });
            }
        } window.customElements.define(FunctionLanguage.is, FunctionLanguage);
    </script>
</dom-module>
