<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<script src="dragon.min.js" async></script>

<dom-module id="function-transaction">
    <script>
        class FunctionTransaction extends Polymer.Element {
            static get is() {
                return 'function-transaction';
            }
            /**
            * create a signed message
            * @return {signedMsg} signedMsg
            */
            signMessage(privateKey, message, address, date) {
                return new Promise((resolve, reject) => {
                    if(privateKey && message && address && date){
                        const Buffer = dragon.Buffer.Buffer;
                        const hash = dragon.sha3(message + ' ' + date);
                        const signed = dragon.ecsign(hash, privateKey);
                        const combined = Buffer.concat([
                            Buffer.from(signed.r),
                            Buffer.from(signed.s),
                            Buffer.from([signed.v])
                        ]);
                        const signature = combined.toString('hex');

                        const signedMsg = JSON.stringify({
                            address: address,
                            message:  message + ' ' + date,
                            signature: '0x' + signature
                        });
                        resolve(signedMsg);
                    } else {
                        reject(Error('Missing Arguments'))
                    }
                });
            }

            /**
            * create a signed message
            * @return {signedMsg} signedMsg
            */
            createKey(privateKey, rawTx) {
                return new Promise((resolve, reject) => {
                    let eTx = new EthTx(rawTx);
                    eTx.sign(privKey);
                    return '0x' + eTx.serialize().toString('hex');
                });
            }


        } window.customElements.define(FunctionTransaction.is, FunctionTransaction);
    </script>
</dom-module>
