<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<script src="dragon.min.js" async></script>

<dom-module id="function-message">
    <script>
        class FunctionMessage extends Polymer.Element {
            static get is() {
                return 'function-message';
            }
            /**
            * create a signed message
            * @param {string} privateKey - The private key to sign the message with
            * @param {string} message - The message to be signed
            * @param {string} address - The address associated with the private key
            * @param {string} date - The date to append to the message
            * @returns {object} 
            */
            signMessage(privateKey, message, address, date) {
                return new Promise((resolve, reject) => {
                    if(privateKey && message && address && date){
                        const Buffer = dragon.Buffer.Buffer;
                        const hash = dragon.sha3(message + ' ' + date);
                        const signed = dragon.ecsign(hash, privateKey);
                        const combined = Buffer.concat([
                            Buffer.from(signed.r),
                            Buffer.from(signed.s),
                            Buffer.from([signed.v])
                        ]);
                        const signature = combined.toString('hex');
                        const signedMsg = JSON.stringify({
                            address: address.toLowerCase(),
                            message:  message + ' ' + date,
                            signature: '0x' + signature
                        });
                        resolve(signedMsg);
                    } else {
                        reject(Error('Missing Arguments'))
                    }
                });
            }

            /**
            * verify a signed message
            * @returns {string} address - The address that signed the message
            * @param {string} signature - The final signature starting with 0x
            * @param {string} message - The message before it was signed
            */
            verifyMessage(signature, suppliedMessage) {
                return new Promise((resolve, reject) => {
                    if(signature && suppliedMessage){
                        const {v, r, s} = dragon.fromRpcSig(signature);
                        const message = dragon.toBuffer(dragon.sha3(suppliedMessage));
                        const publicKey  = dragon.ecrecover(message, v, r, s);
                        const addressBuffer = dragon.publicToAddress(publicKey);
                        const address = dragon.bufferToHex(addressBuffer);
                        resolve(address.toLowerCase());
                    } else {
                        reject(Error('Missing Arguments'))
                    }
                });
            }


        } window.customElements.define(FunctionMessage.is, FunctionMessage);
    </script>
</dom-module>
