<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<script src="dragon.min.js" async></script>

<dom-module id="function-language">
    <script>
        class FunctionLanguage extends Polymer.Element {
            static get is() {
                return 'function-language';
            }
            /**
             * defulat language
             * @return {object} object represents an error or a location object
             */
            defulatLanguage() {
                return new Promise((resolve, reject) => {

                });
            }
            /**
             *  translation available
             * @return {object} object represents an error or a location object
             */
            translationAvailable() {
                return new Promise((resolve, reject) => {

                });
            }

        } window.customElements.define(FunctionLanguage.is, FunctionLanguage);
    </script>
</dom-module>
