<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<script src="dragon.min.js" async></script>

<dom-module id="function-transaction">
    <script>
        class FunctionTransaction extends Polymer.Element {
            static get is() {
                return 'function-transaction';
            }
            /**
            * create a signed message
            * @return {signedMsg} signedMsg
            */
            createKey(privateKey, message, address, date) {
                return new Promise((resolve, reject) => {
                    if(privateKey && message && address && date){
                        let hash = sha3(message + ' ' + date);
                        let signed = ecsign(hash, privateKey);
                        let combined = Buffer.concat([
                            Buffer.from(signed.r),
                            Buffer.from(signed.s),
                            Buffer.from([signed.v])
                        ]);
                        let combinedHex = combined.toString('hex');

                        const signedMsg = JSON.stringify({
                            address: address,
                            message:  fullMessage,
                            sig: '0x' + combinedHex
                        });
                        resolve(signedMsg);
                    } else {
                        reject(Error('Missing Arguments'))
                    }
                });
            }

        } window.customElements.define(FunctionTransaction.is, FunctionTransaction);
    </script>
</dom-module>
