# This is a sample configurations file.

# If enabled system will use let's encrypt
# staging servers to generate certs
DEBUG=Enable

# Set the API key for NS1
SSL_API_KEY=123

# Domain name of the site
SITE_HOSTNAME=www.swarmdev.city

# Domain name of the API
API_HOSTNAME=api.swarmdev.city