<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="functions/function-message.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="resize-avatar">
    <template>
        <style>
            :host {
                display: block;
            }
            .canvas {
                border: 1px solid black
            }
            .file {
                display: none;
            }
            .pointer {
                cursor: pointer;
            }
        </style>
        <function-message id="message"></function-message>
        <div class="container">
            <h1>Resize Avatar</h1>
            <canvas id="canvas" class="canvas"></canvas>
            <input type="file" name="file" id="file" class="file" on-change="_getFile"/>
            <input type="hidden" name="wight" id="wight" value="250">
            <input type="hidden" name="height" id="height" value="250">
            <input type="hidden" name="zoom" id="zoom" value="1">
            </br>
            <label for="file">
                <p class="pointer">Select</p>
            </label>
            <p on-click="_rotate" class="pointer">Rotate</p>
            <p on-click="_save" class="pointer">Save</p>
            <p on-click="_reset" class="pointer">Reset</p>
            <p on-click="_zoomin" class="pointer">Zoom +</p>
            <p on-click="_zoomout" class="pointer">Zoom -</p>
        </div>
    </template>
    <script>
        class ResizeAvatar extends Polymer.Element {
            static get is() {
                return 'resize-avatar';
            }
            static get properties() {
                return {
                    /**
                    * show the signed message
                    * @type {Boolean}
                    */
                    signedMessage: {
                        type: Boolean,
                        value: false,
                    },
                };
            }

            ready() {
                super.ready();
                this._drawCanvas();
            }
            /**
            * Fired when the user selects a file
            * @param {event} event The event from the on-change
            */
            _drawCanvas(image){
                const canvas = this.$.canvas;
                canvas.width = 250;
                canvas.height = 250;
                const ctx = canvas.getContext('2d');
                ctx.fillStyle = "#333333";
                ctx.fillRect(0,0,250,250);
                ctx.translate(canvas.width/2,canvas.height/2);
                const img = new Image();
                img.crossOrigin = "anonymous"
                img.addEventListener('load', function () {
                    ctx.drawImage(this, -50, -50, 100, 100);
                });
                if(image){
                    img.src = URL.createObjectURL(image);
                } else {
                    img.src = 'https://pbs.twimg.com/profile_images/741290730170122240/abfazODg_400x400.jpg';
                }
            }
            /**
            * Fired when the user selects a file
            * @param {event} event The event from the on-change
            */
            _getFile(event) {
                event.stopPropagation();
                event.preventDefault();
                const image = event.target.files[0];
                this.$.file.value = "";
                this._drawCanvas(image);
            }
            _reset(){
                this._drawCanvas();
            }
            _save(){
                const canvas = this.$.canvas;
                var jpegUrl = canvas.toDataURL("image/jpeg");
                console.log(jpegUrl);
            }
            _rotate(){
                console.log('rotate');
                const canvas = this.$.canvas;
                const ctx = canvas.getContext('2d');

				ctx.clearRect(0,0,0,0);
				ctx.save();
				ctx.translate(canvas,Number(canvas.width)/2,Number(canvas.height)/2);
				ctx.rotate(1.570);
				ctx.drawImage(canvas,-Number(canvas.width)/2,-Number(canvas.height)/2);
				ctx.restore();
				ctx.save();
            }

			_zoomin(){
				console.log('zoomin');
				const canvas = this.$.canvas;
				const ctx = canvas.getContext('2d');

				var zoom = Number(this.$.zoom.value);

				if(zoom != 5) {
					var scale = 1.1;
					var width = canvas.width;
					var height = canvas.height;

					this.$.zoom.value = zoom + 1;

					var newWidth = width * scale;
					var newHeight = height * scale;


					this.$.wight.value = newWidth;
					this.$.height.value = newHeight;

					ctx.save();

					ctx.translate(-((newWidth) / 2), -((newHeight) / 2));
					ctx.scale(scale, scale);
					ctx.clearRect(0, 0, 0, 0);
					ctx.drawImage(canvas, 0, 0);
					ctx.restore();
				}
			}

			_zoomout(){
				console.log('zoomout');
				const canvas = this.$.canvas;
				const ctx = canvas.getContext('2d');

				var zoom = Number(this.$.zoom.value);

				if(zoom != -2) {
					var scale = 0.90;
					var width = canvas.width;
					var height = canvas.height;

					this.$.zoom.value = zoom - 1;

					var newWidth = width * scale;
					var newHeight = height * scale;

					this.$.wight.value = newWidth;
					this.$.height.value = newHeight;

					ctx.save();

					ctx.translate(-((newWidth) / 2), -((newHeight) / 2));
					ctx.scale(scale, scale);
					ctx.clearRect(0, 0, 0, 0);
					ctx.drawImage(canvas, 0, 0);

					ctx.restore();
				}
			}


        } window.customElements.define(ResizeAvatar.is, ResizeAvatar);
    </script>
</dom-module>

